html,body,h1,h2,h3,h4,p,div,ul,li,svg{
	margin:0;
	padding:0;
	font-size:100%;
}

/*------------Structure-------------*/
html,body{
	height: 100%;
	position: relative;
	background:#fcfcfa;/*#222;*/
}
.container,
.container .canvas{
	position: absolute; /*absolute puts it at top*/
	width:100%;
	height: 100%;
	top:0px;
    overflow:hidden;
}
.container .canvas{         /*moves canvas around screen*/
}
.container .control{
	height:60px;
	width: 500px;
	left: 50%;
	bottom: 50px;
	position: absolute;
	margin-left: -250px;
}

.container .legend{
    left:80%;
    top: 50%;
    width: 140px;
    position: relative;
    padding-left: 10px;
    padding-top: 10px;
}

/*------------font-------------*/
body{
	font-family:"Roboto",sans-serif;
	font-size: 16px;
}
h1{
	font-size: 1.9em;
    margin: 30px 0 0px 30px;
    color: #6d6d6d;
}
h2{
	font-size:1.2em;
	margin: 25px 0 20px 24px;
    color: #ff4500;
}
h3{
     font-size: 1em;
     margin: 10px 0 0px 30px;
     color:darkslategrey;
 }

h4{
    font-size: 0.8em;
    margin: 20px 0 0px 30px;
    color:darkslategrey;
}

/*------------tooltip-------------*/
.custom-tooltip{
	padding: 8px;
	background: none;
    width: 380px;
	position: absolute;
	visibility:visible;
    top:100px;
    left:0px;
}

.tooltip h3{
    color:steelblue;
}

.custom-tooltip dt{
    color:darkslategrey;
    font-size: 0.7em;
    margin: 0px 0 0px 24px;
}
.custom-tooltip dd{
    color:darkslategrey;
    font-size: 1em;
    margin: 0px 0 15px 24px;
}

/*-----------control--------------*/
.control .button{
    color:#000;
    background: #fff;
    text-align:center;
    display:block;
    height:80px;            /*these control css elements are not working*/
    float:left;
    top: 50%;
    line-height:60px;
    padding: 0 20px;
    margin-left:30px;
}

.control .button:hover{
    background: rgb(245,245,245);
}

/*------------svg - facilities-----------------*/
.canvas .facility circle{  /*not doing anything - omit or move fill color/opacity here */
    fill:rgb(80,80,80);
    stroke:none;
    stroke-width:1.5px;
}

.canvas .facility:hover circle{
    fill-opacity:.5;
    stroke: #00eadc;
    stroke-width:2px;
}

.canvas .facility:hover rect{   /*doesn't work*/
    fill: #73001B;
}

/*------------map elements------------------*/
.stroke {
    fill: none;
    stroke: #fcfcfa;
    stroke-width: 4px;
}

.fill {
    fill: #333; /*#222*/
}
.fill2 {
    fill: #333; /*#222*/
}


.graticule {
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: .5;
}
.graticule2 {
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: .5;
}

.land {
    fill: white;
}
.land2 {
    fill: white;
}

.boundary {
    fill: none;
    stroke: #fff;
    stroke-width: .5px;
}
